= link_to "Create Article", new_article_path, class: "btn btn-danger"
- @articles.each do |article|
  %div.article
    %h4= article.name
    - if !article.created_at.nil?
      %div.entry
        %div.post-date posted on #{article.created_at.strftime("%d/%m/%y")} by #{article.author.name}
    %p= article.text