= form_for :article, url: articles_path  do |f|
  %div.form-group
    = f.label :name, t('name')
    = f.text_field :name, class:"form-control", required: true
  %div.form-group
    = f.label :text, t('text')
    = f.text_area :text, class:"form-control", required: true
  %div.form-group
    = f.label :author_id, t('author')
    = collection_select(:article, :author_id, Author.all, :id, :name, {prompt: t('select_author')}, {class: "form-control", required: true})
  = f.submit t('save_article'), class:"btn btn-default"