%h4= @article.name
- if !@article.created_at.nil?
    %div.entry
        %div.post-date
            = t('post_text', time: @article.created_at.strftime("%d/%m/%y"), author: @article.author.name)
%p= @article.text

%h3 #{@comments.length} Comments:
- @comments.each do |comment|
    %div.entry
        %p #{comment.text}

= form_tag comment_path do
    %div.form-group
        = text_area_tag 'text', nil, required: true
    = submit_tag t('save_comment'), class:"btn btn-default"